In [1]:
import requests_html
import pandas as pd
import re

from bs4 import BeautifulSoup

In [2]:
holiday_list = []

r = requests_html.HTMLSession()
headers = {'Accept-Language': 'en-US,en;q=0.5'}

for year in range(2014, 2023):
    print(f'Getting data for {year}')
    html = r.get(f'https://www.timeanddate.com/holidays/jordan/{year}', headers=headers)
    
    if html.status_code==200:
        
        soup = BeautifulSoup(html.text, "lxml")
        
        tbl_rows = soup.find(name="table", attrs={"id" : "holidays-table"}).\
                    find_all(name="tr", attrs={'id' : re.compile(r'^tr\d')})
        
        for row in tbl_rows:
            holiday_list.append({
                'date' : row.find('th').text + f' {year}',
                'holiday_name' : row.find('a').text,
                'holiday_type' : row.find_all('td')[-1].text
            })

Getting data for 2014
Getting data for 2015
Getting data for 2016
Getting data for 2017
Getting data for 2018
Getting data for 2019
Getting data for 2020
Getting data for 2021
Getting data for 2022

In [3]:
holiday_df = pd.DataFrame(holiday_list)
holiday_df['date'] = pd.to_datetime(holiday_df['date'])

In [4]:
holiday_df

          date          holiday_name      holiday_type
0   2014-01-01        New Year's Day  National holiday
1   2014-01-13    Prophet's Birthday  National holiday
2   2014-03-20         March Equinox            Season
3   2014-04-13           Palm Sunday  Optional Holiday
4   2014-04-18  Orthodox Good Friday        Observance
..         ...                   ...               ...
321 2022-09-23     September Equinox            Season
322 2022-10-08    Prophet's Birthday  National holiday
323 2022-12-22     December Solstice            Season
324 2022-12-25         Christmas Day  National holiday
325 2022-12-26            Boxing Day  Optional Holiday

[326 rows x 3 columns]

In [5]:
holiday_df.to_csv('jordan_holidays_observance.csv', index=False)