In [31]:
from pykml import parser
import pandas as pd

### DATA SOURCE: https://data.ibb.gov.tr/en/dataset/minibus-duraklari-verisi/resource/0d4fbb9f-cd5f-4005-aa57-6bb76db3fc58

In [32]:
# Read the KML file
with open("minibus-duraklar-verisi.kml", 'r') as f:
    doc = parser.parse(f)

# Extract the data from the KML file
placemarks = doc.getroot().Document.Folder.Placemark

data = []

for placemark in placemarks:
    data.append({
        "name" : placemark.name.text,
        "coords" : placemark.Point.coordinates.text
    })

In [49]:
df = (
    pd.DataFrame(data)
    .assign(latitude=lambda x: x['coords'].str.split(",").str[1].astype("float64"),
            longitude=lambda x: x['coords'].str.split(",").str[0].astype("float64"))
    .drop("coords", axis=1)
)

In [52]:
df.head()

    name   latitude  longitude
0  kml_1  41.112087  29.054681
1  kml_2  41.144566  29.052585
2  kml_3  41.096740  29.052128
3  kml_4  41.087823  29.006861
4  kml_5  41.122439  29.001369

In [51]:
df.to_csv("tr_ist_minibus_stands.csv", index=False)